.full-width-image {
    width: 100vw; 
    height: 600px; 
    object-fit: cover; 
  }

.carousel-header{
    color:  #ff4040;
    
}
.carousel-text{
    color: #FFF;
}


.card-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 20px; 
    padding-bottom: 30px;
    /* margin-top: 1000px; */
  }
  
  
.card-element{
    width: 17rem;
    background: #FFF;
    border: none;
    margin: auto;
    height: 32rem;
    transition: .3s;
}

.card-element:hover{
    transform: scale(1.1);
    background: #f0f0f0;
}
.service-header-div{
margin-bottom: 30px;
}

  
.home-main-content{
    padding-top: 20px;
    background-color: #F6F6F6;
}


@media (max-width: 768px) {
.full-width-image{
    height: 400px;
}
}